{% extends 'blog/../base.html' %}

{% block title %}
    Author Detail
{% endblock %}

{% block content %}
    <h2>Author Information</h2>
    <p><strong>First Name: </strong>{{ author.first_name }}</p>
    <p><strong>Last Name: </strong>{{ author.last_name }}</p>
    {% if author.date_of_birth %}
        <p><strong>Date of Birth: </strong>{{ author.date_of_birth }}</p>
    {% endif %}
    {% if author.date_of_death %}
        <p><strong>Date of Death: </strong>{{ author.date_of_death }}</p>
    {% endif %}
    <br>
    <h2>Blogs</h2>
    <ul>
        {% for blog in author.get_blogs_by_date_order %}
            <li>
                <a href="{% url 'blog-detail' blog.id %}">{{ blog.title }}</a> | date: {{ blog.post_date }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}