<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        {% block side %}
            <div class="col-2 bg-white">
                <div class="sticky-top">
                     <div class="flex-shrink-0 p-3 bg-white">
                         <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
{#      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>#}
                             <span class="fs-5 fw-semibold">Collapsible</span>
                         </a>
{#    <ul class="nav nav-pills flex-column mb-auto">#}
                         <ul class="list-unstyled ps-0">
                             <li class="mb-1">
                                 <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                                     Home
                                 </button>
                                 <div class="collapse show" id="home-collapse">
                                     <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                         <li><a href="#" class="link-dark rounded">Overview</a></li>
                                         <li><a href="#" class="link-dark rounded">Updates</a></li>
                                         <li><a href="#" class="link-dark rounded">Reports</a></li>
                                     </ul>
                                 </div>
                             </li>
                             <li class="mb-1">
                                 <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                                     Dashboard
                                 </button>
                                 <div class="collapse" id="dashboard-collapse">
                                     <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                         <li><a href="#" class="link-dark rounded">Overview</a></li>
                                         <li><a href="#" class="link-dark rounded">Weekly</a></li>
                                         <li><a href="#" class="link-dark rounded">Monthly</a></li>
                                         <li><a href="#" class="link-dark rounded">Annually</a></li>
                                     </ul>
                                 </div>
                             </li>
                             <li class="mb-1">
                                 <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                                     Orders
                                 </button>
                                 <div class="collapse" id="orders-collapse">
                                     <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                         <li><a href="#" class="link-dark rounded">New</a></li>
                                         <li><a href="#" class="link-dark rounded">Processed</a></li>
                                         <li><a href="#" class="link-dark rounded">Shipped</a></li>
                                         <li><a href="#" class="link-dark rounded">Returned</a></li>
                                     </ul>
                                 </div>
                             </li>
                             <li class="border-top my-3"></li>
                             <li class="mb-1">
                                 <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                                     Account
                                 </button>
                                 <div class="collapse" id="account-collapse">
                                     <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                         <li><a href="#" class="link-dark rounded">New...</a></li>
                                         <li><a href="#" class="link-dark rounded">Profile</a></li>
                                         <li><a href="#" class="link-dark rounded">Settings</a></li>
                                         <li><a href="#" class="link-dark rounded">Sign out</a></li>
                                     </ul>
                                 </div>
                             </li>
                         </ul>
{#                         <hr>#}
{#    <div class="dropdown">#}
{#                         <div class="dropdown fixed-bottom  mb-4 ms-4">#}
                         <div class="dropdown bottom-fix mb-4 ms-4">
                             <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
{#                                 <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">#}
                                 <strong>mdo</strong>
                             </a>
                             <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                                 <li><a class="dropdown-item" href="#">New project...</a></li>
                                 <li><a class="dropdown-item" href="#">Settings</a></li>
                                 <li><a class="dropdown-item" href="#">Profile</a></li>
                                 <li><hr class="dropdown-divider"></li>
                                 <li><a class="dropdown-item" href="#">Sign out</a></li>
                             </ul>
                         </div>
                    </div>
                </div>
            </div>
        {% endblock side %}

        <div class="col-7 p-3">

            {% block content %}
            {% endblock %}

            {% block pagination %}
                {% if is_paginated %}
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                            {% endif %}

                            {% for i in paginator.page_range %}
                                {% if page_obj.number == forloop.counter %}
                                    <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            {% endblock %}
        </div>
    </div>
</div>

{#<div class="d-flex flex-column flex-shrink-0 p-3 bg-light">#}
{#{% block content %}#}
{#    <h1>BASE</h1>#}
{#{% endblock %}#}
{#</div>#}

</body>
</html>