{% extends 'blog/base.html' %}

{% block title %}
    Blog List
{% endblock %}

{% block content %}
    {% for blog in blog_list %}
        <h3>
            <strong>Title: </strong>
            <a href="{% url 'blog-detail' blog.id %}">{{ blog.title }}</a>
        </h3>
        <p>
            <strong>Author: </strong>
            <a href="{% url 'author-detail' blog.author.id %}">{{ blog.author }}</a>
        </p>
        <p><strong>Post Date: </strong>{{ blog.post_date }}</p>
        <p><strong>Description: </strong>{{ blog.get_short_description }}</p>
        <hr>
    {% endfor %}
{% endblock %}
