{% extends 'blog/../base.html' %}

{% block title %}
    Blog List
{% endblock %}

{% block content %}
    <div class="row row-cols-1 row-cols-lg-3 g-4">
    {% for blog in blog_list %}
        <div class="col">
            <div class="card h-100">
              <div class="card-body">
                  <h5 class="card-title"><a href="{{ blog.get_absolute_url }}"> {{ blog.title }}</a></h5>
                  <p class="card-text p-lg-2">{{ blog.get_short_description }}</p>
{#            <a href="{{ blog.get_absolute_url }}" class="card-link">Blog link</a>#}
{#            <a href="{{ blog.author.get_absolute_url }}" class="card-link">Another link</a>#}
              </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
