{% extends 'blog/base.html' %}

{% block title %}
    Blog Detail
{% endblock %}

{% block content %}
    <h3><strong>Title: </strong>{{ blog.title }}</h3>
    <p>
        <strong>Author: </strong>
        <a href="{% url 'author-detail' blog.author.id %}">{{ blog.author }}</a>
    </p>
    <p><strong>Post Date: </strong>{{ blog.post_date }}</p>
    <h4>Content:</h4>
    <p>{{ blog.content }}</p>
    <hr>

    <h3>Comments</h3>
    <br>
    {% for comment in blog.comments.all %}
        <p><strong>{{ comment.author }} | {{ comment.publish_time }}</strong></p>
        <p>{{ comment.description }}</p>
        <br>
    {% endfor %}

    {% if user.is_authenticated %}
        <a href="{% url "comment-create" blog.id%}">Post a comment</a>
    {% endif %}
{% endblock %}