{% extends 'blog/base.html' %}

{% block title %}
    Blog Detail
{% endblock %}

{% block content %}
    <h3><strong>Title: </strong>{{ blog.title }}</h3>
    <p>
        <strong>Author: </strong>
        <a href="{% url 'author-detail' blog.author.id %}">{{ blog.author }}</a>
    </p>
    <p><strong>Post Date: </strong>{{ blog.post_date }}</p>
    <h4>Content:</h4>
    <p style="text-align: justify">{{ blog.content }}</p>
    <hr>

    <h3 class="mb-3">Comments</h3>
        <div class="text-start">
            {% for comment in blog.comments.all %}
                <p><strong>user: {{ comment.author }} | time: {{ comment.publish_time }}</strong></p>
                <p style="white-space: pre-line">{{ comment.description }}</p>
                <hr>
        {% endfor %}
    </div>

    {% if user.is_authenticated %}
{#        <form action="{% url 'comment-create' blog.id %}" method="post">#}
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3 text-start">
                <label class="form-label" for="id_description">{{ form.description.label }}</label>
                <input type="text" class="form-control" name="description" id="id_description" required>
                <div class="form-text">{{ form.description.help_text }}</div>
                <div class="form-text text-danger">{{ form.description.errors }}</div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
{#        <a href="{% url 'comment-create' blog.id%}">Write a comment</a>#}
    {% else %}
        You need to <a href="{% url 'login' %}?next={{ request.path }}">login</a> to post a comment!
    {% endif %}

{% endblock %}