{% extends 'blog/base.html' %}

{% block title %}
    Comment
{% endblock %}

{% block content %}
    <! ––
    in django templates we have access to the:
    1. request
    2. user
    3. perms
    4. messages
    5. form
    6. view
    -->
    <h3>
        Comment for the:
{#        <a href="{% url 'blog-detail' view.kwargs.pk %}">{{ blog.title }}</a>#}
        <a href="{% url 'blog-detail' blog.id %}">{{ blog.title }}</a>
    </h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
{% endblock %}
