{% extends 'blog/base.html' %}

{% block title %}
    Index
{% endblock %}

{% block content %}
    <h1>Mini Blog Home</h1>
    <p>Welcome to Mini Blog, a website developed by <em>kavianam</em>!</p>
    <p>The Blog has the following record counts:</p>
    <ul>
        <li><strong>Num of Blogs:</strong> {{ blogs.count }}</li>
        <li><strong>Num of Authors:</strong> {{ authors.count }}</li>
    </ul>
    <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
{% endblock %}
